.content {
  padding: 32px;
}
/* Trip types */
.trip-types {
  display: flex;
  gap: 24px;
  margin-bottom: 32px;
}

.trip-option {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.trip-option input {
  display: none;
}

.radio {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid #ccc;
}

.radio.checked {
  border-color: red;
  background: radial-gradient(red 40%, transparent 41%);
}

.trip-label {
  font-weight: 600;
  text-transform: capitalize;
}

/* Grid */
.grids {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  background: #f5f5f5;
  overflow: hidden;
}

.cellbox {
  padding: 10px 12px 20px 10px;
  background: white;
  border: 1px solid #eee;
  line-height: 0.2rem;
  cursor: pointer;
}

.cellbox:last-child {
  border-right: none;
}

.cellbox p {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  color: #aaa;
  padding-bottom: 0.5rem;
  font-weight: 700;
}

.cellbox h3 {
  font-size: 20px;
  font-weight: 800;
  line-height:1px;

  color: #222;
}

.cellbox span {
  font-size: 12px;
  color: #777;
  line-height: 1rem;
}

.highlight {
  color: #f4bf00;
  font-weight: 700;
}

/* Bottom */
.bottom {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.categories {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.categories button {
  padding: 8px 16px;
  border-radius: 8px;
  border: 2px solid #ddd;
  background: white;
  font-weight: 700;
  font-size: 12px;
  cursor: pointer;
  color: #6B7280;
}

.categories button:hover {
  border-color: #f4bf00;
  color: #111;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 700;
  font-size: 12px;
}

/* Search button */
.search-btn {
  padding: 16px 48px;
  background:  rgb(214, 15, 15);
  color: #fff;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-radius: 24px;
  border: none;
  font-weight: 900;
  font-size: 18px;
  cursor: pointer;
}

.search-btn:hover {
  transform: translateY(-2px);
}