.content {
  padding: 32px;
}

/* Grid */
.hotel-grid {
  grid-template-columns: repeat(4, 1fr);
}

.grids {
  display: grid;
  background: #f5f5f5;
  overflow: hidden;
}

.cellbox {
  padding: 10px 12px 20px 10px;
  background: white;
  border: 1px solid #eee;
  cursor: pointer;
}

.cellbox p {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  color: #aaa;
  padding-bottom: 0.5rem;
  font-weight: 700;
}

.cellbox h3 {
  font-size: 20px;
  font-weight: 800;
  color: #222;
}

.cellbox small {
  font-size: 14px;
  font-weight: 700;
}

.cellbox span {
  font-size: 12px;
  color: #777;
}

/* Bottom */
.bottom {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.categories {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.categories button {
  padding: 8px 16px;
  border-radius: 8px;
  border: 2px solid #ddd;
  background: white;
  font-weight: 700;
  font-size: 12px;
  cursor: pointer;
  color: #6B7280;
}

.categories button:hover {
  border-color: #f4bf00;
  color: #111;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 700;
  font-size: 12px;
}

/* Search button */
.search-btn {
  padding: 16px 48px;
  background: rgb(214, 15, 15);
  color: #fff;
  border-radius: 24px;
  border: none;
  font-weight: 900;
  font-size: 18px;
  cursor: pointer;
}

.search-btn:hover {
  transform: translateY(-2px);
}
