.train-content {
  padding: 32px;
}

/* Grid */
.train-grid {
  display: grid;
  grid-template-columns: 1.3fr 0.3fr 1.3fr 1fr;
  background: #f5f5f5;
  border-radius: 16px;
  overflow: hidden;
}

/* Swap */
.swap-box {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  color: red;
  background: #fff;
  border: 1px solid #eee;
  cursor: pointer;
}

/* Cell */
.cellbox {
  padding: 14px 16px 22px;
  background: white;
  border: 1px solid #eee;
  cursor: pointer;
}

.cellbox p {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  color: #aaa;
  font-weight: 700;
}

.cellbox h3 {
  font-size: 28px;
  font-weight: 800;
  color: #111;
}

.cellbox small {
  font-size: 16px;
  font-weight: 700;
}

.cellbox span {
  font-size: 14px;
  color: #777;
}

/* Search */
.train-search {
  margin-top: 24px;
  display: flex;
  justify-content: flex-end;
}

.search-btn {
  padding: 16px 48px;
  background: rgb(214, 15, 15);
  color: #fff;
  border-radius: 12px;
  border: none;
  font-weight: 900;
  font-size: 18px;
  cursor: pointer;
}

.search-btn:hover {
  transform: translateY(-2px);
}
