.search-wrapper {
  max-width: 100vw;
  
  background-image:url("../../assets/background.jpg") ;
    background-repeat: no-repeat;   
  background-size: cover;       
  background-position: center; 
   min-height: 75vh;
  padding: 0;
  margin:0;
  
  display: flex;
  justify-content: center; /* horizontal */
  align-items: center;
  align-content: space-around;  
  flex-wrap: wrap;
  
}

.search-container {
  background: white;
  border-radius: 32px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.15);
  border: 1px solid #eee;
  overflow: hidden;
}

/* Tabs */
.tabs {
  display: flex;
  gap: 8px;
  padding: 8px;
  background: #f9f9f9;
  overflow-x: auto;
}

.tab {
  display: flex;
  gap: 8px;
  padding: 12px 24px;
  border-radius: 999px;
  border: none;
  font-weight: 700;
  background: transparent;
  cursor: pointer;
  color: #777;
}

.tab.active {
  background: #f4bf00;
  color: #111;
  box-shadow: 0 8px 16px rgba(244,191,0,0.4);
}
.tab.nonactive:hover{
    background-color:rgba(0,0,0,0.05);
    color: #111;

}

/* Content */




/* Promo */
.offer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.promo {
  margin-top: 40px;
  height: 3rem;
  width: auto;
  background: #111;
  color: white;
  padding: 12px 32px;
  border-radius: 999px;
  display: inline-flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  font-weight: 700;
}

.badge {
  background: #f4bf00;
  color: black;
  padding: 5px 8px;
  border-radius: 999px;
  font-size: 10px;
  text-transform: uppercase;
}
